# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# dbt credentials
profiles.yml

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Airflow
# =========================
logs/
airflow.db
config/airflow.cfg

# =========================
# dbt
# =========================
dbt_packages/
target/
dbt_project.lock

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary files
# =========================
*.tmp
*.temp